{% extends 'base.html.twig' %}

{% block title %}
	Photogram - Profile Settings
{% endblock %}

{% block bread %}
	→ Profile Image
{% endblock %}

{% block body %}
	{% if error %}
		<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
			{{ error }}
		</div>
	{% endif %}

	{{ include('settings_profile/_settings_profile_tabs.html.twig') }}

	<div class="flex justify-center">
		<div class="block w-full md:w-2/5 mt-5 md:mt-10 text-center">
			{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
			<div class="flex flex-col md:flex-row items-center justify-center gap-10">
				{{ include('shared/_avatar.html.twig', {'size': 40, profile: app.user.userProfile}) }}

				{{ form_label(form.profileImage, 'Upload Image', {'label_attr': {'class': 'shadow-sm border-transparent font-medium text-white bg-gray-500 hover:bg-violet-600 active:bg-violet-800 cursor-pointer rounded-full border p-3'}}) }}
				{{ form_widget(form.profileImage, {'attr': {'class': 'hidden'}}) }}
			</div>
			<div class="text-red-700 text-sm pt-5">
				{{ form_errors(form.profileImage) }}
			</div>
			<div>
				<button type="submit" class="w-full shadow-sm border-transparent font-medium text-black bg-yellow-400 hover:bg-violet-600 hover:text-white active:bg-violet-800 rounded-md border p-2 mt-10">Save Changes</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
