{% extends 'base.html.twig' %}

{% block title %}
	Photogram - Profile Settings
{% endblock %}

{% block bread %}
	→ Profile Image
{% endblock %}

{% block body %}
	{{ include('settings_profile/_settings_profile_tabs.html.twig') }}

	<div class="flex justify-center">
		<div class="block w-full sm:w-2/5 mt-5 sm:mt-10 text-center">
			{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

			<div class="flex flex-col items-center gap-2" data-controller="upload-image">
				{{ include('shared/_avatar.html.twig', {'size': 40, profile: app.user.userProfile}) }}

				{{ form_label(form.profileImage, 'Upload Image', {'label_attr': {'class': 'shadow-sm border-transparent font-medium text-white bg-gray-500 hover:bg-violet-600 active:bg-violet-800 cursor-pointer rounded-full border p-3 mt-10'}}) }}
				{{ form_widget(form.profileImage, {
						'attr': {
							'class': 'hidden',
							'data-upload-image-target': 'input',
							'data-action': 'change->upload-image#checkFile'
						}
					}) }}

				<span id="fileName" class="block text-sm text-gray-700 dark:text-white" data-upload-image-target="fileName"></span>

				<div class="text-red-700 text-sm" id="errorMessage" data-upload-image-target="error">
					{{ form_errors(form.profileImage) }}
				</div>
			</div>
			<div>
				<button type="submit" class="w-full shadow-sm border-transparent font-medium text-black bg-yellow-400 hover:bg-violet-600 hover:text-white active:bg-violet-800 rounded-md border p-2 mt-10">Save Changes</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
