<div>
	<a href="#" class="flex items-center pb-3">

		{{ include('shared/_avatar.html.twig', { profile: user.userProfile, size: 10 }) }}
		{# wprowadzic dane odpowiedniego usera #}

		<div class="ml-3">
			{{ user.userProfile ? user.userProfile.photogramUsername : user.email }}
			{# wprowadzic dane odpowiedniego usera #}
		</div>
	</a>
	<div>
		{{ include('shared/_picture.html.twig', { image: post.image }) }}
	</div>
	<div class="text-xl dark:text-gray-400">
		{{ post.description }}
	</div>
	<div class="text-gray-500 dark:text-gray-400">
		{{ post.created | date("M j, Y") }}
	</div>
</div>
