{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div class="text-center mb-5">
	{{ form_label(form.postImage, 'Upload Image', {'label_attr': {'class': 'w-full shadow-sm border-transparent font-medium text-white bg-gray-500 hover:bg-violet-600 active:bg-violet-800 cursor-pointer rounded-full border p-3'}}) }}
	{{ form_widget(form.postImage, {'attr': {'class': 'hidden'}}) }}
	<div class="text-red-700 text-sm pt-5">
		{{ form_errors(form.postImage) }}
	</div>
</div>
<div>
	{{ form_label(form.description, 'Description (optional)', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
	{{ form_widget(form.description, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}}) }}
	<div class="text-red-700 text-sm my-1">
		{{ form_errors(form.description) }}
	</div>
</div>
<div>
	{{ form_label(form.location, 'Location (optional)', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
	{{ form_widget(form.location, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}}) }}
	<div class="text-red-700 text-sm my-1">
		{{ form_errors(form.location) }}
	</div>
</div>

<div>
	<button type="submit" class="block w-full shadow-sm border-transparent font-medium text-black bg-yellow-400 hover:bg-violet-600 hover:text-white active:bg-violet-800 rounded-md border p-2 mt-4 mb-2">Add</button>
</div>
{{ form_end(form) }}
