<img src="{{ profile and profile.image ? profiles ~ profile.image : '' }}" class="inline-block h-{{size}} w-{{size}} rounded-full ring-2 ring-white dark:ring-gray-600 {{ profile and profile.image ? '' : 'hidden' }}" data-upload-image-target="preview"/>

{% if not profile or not profile.image %}
	<div class="inline-block bg-gray-200 dark:bg-gray-700 rounded-full text-3xl h-{{size}} w-{{size}} ring-2 ring-white dark:ring-gray-600" data-upload-image-target="placeholder"></div>
{% endif %}
